{% extends 'base.html.twig' %}

{% block title %}New Consulta{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id="alertContainer"></div>
        {{ include('consulta/_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('steps') }}
{% endblock %}
